<div *ngIf="loaded">
    <div class="basic-info">
        <div>Email: {{user.email}}</div>
        <div>Name: {{user.name}} <a routerLink="/profile">Profile</a></div>
        <div>Birthday: {{user.birthdate}}</div>
        <div>Phone: {{user.phone_number}}</div>
        <div><a href="http://localhost:3000/logout"><button>Log me out</button></a></div>
    </div>
    <div class="external-info">
        <div class="projects-container" *ngIf="projects?.length > 0">
            <div *ngFor="let project of projects" class="project-info">
                <div class="title">{{project.name}}</div>
                <div class="description">{{project.description}}</div>
                <div><a target="_blank" href="{{project.http_url_to_repo}}">{{project.http_url_to_repo}}</a></div>
            </div>
        </div>
    </div>
</div>
